# Python
__pycache__/
*.pyo
*.pyd
*.so
*.dll
*.pyc

# Byte-compiled / optimized / DLL files
**/*.pyc

# Environments
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# Logs
*.log
logs/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# Images and generated assets
# Saved verification frames
monitor_frames/
