# Python
__pycache__/
*.pyo
*.pyd
*.so
*.dll

# Environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Logs
*.log

# Generated frames
monitor_frames/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
